# Dependencies
node_modules/
client/node_modules/

# Environment variables
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# Build outputs
client/dist/
dist/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
